# REQUIRED 
## The Movie Database (TMDB) Read Only Access Token. To get title to search on other providers | eySomething (Not 123asdf123adxf)
TMDB_API_KEY=

# OPTIONAL
# KEY
## Debug-key for https://host/dashboard?key=DEBUG_KEY | debug-key
DEBUG_KEY=
## For poster from rpdb | t0-free-rpdb-rounded-blocks
RPDB_API_KEY=
## TVDB key. For series with no imdb id | something like asdfb-asdfb-adfb-asdf
TVDB_API_KEY=
## For poster from erdb, xrdb |
TMDB_KEY=

# Addon configuration
## Display name when show stream result | yastream
DISPLAY_NAME=
## Mediaflow-proxy URL | https://mediaflow-proxy...
MEDIAFLOW_PROXY_URL=
## Mediaflow-proxy password |
MEDIAFLOW_PROXY_PASSWORD=
## Min title matching score (higher mean only very similar title matches, 0 - 100) | 75
MIN_MATCHING_SCORE=

# Server configuration
## Cache size in mb | 100
CACHE_SIZE_MB=
## Log level TRACE -> DEBUG -> INFO -> WARN -> ERROR -> NONE | INFO
LOG_LEVEL=
## Domain that the addon serve | localhost
DOMAIN=
## Running port | 55913
PORT=
## Enable warming cache (any value to on, leave empty to off) | true
WARM_CACHE=
## Maximum timeout in milliseconds | 15000
RETRY_TIMEOUT_MS=
## Delay in milliseconds between retries with exponential backoff | 4000
RETRY_DELAY_MS=
## Retry jitter | 500
RETRY_JITTER_MS=
## Rate limit
## Catalog window minutes | 10
CATALOG_WINDOW_MINUTES=
## Catalog request limit | 20
CATALOG_REQUEST_LIMIT=
## Meta window minutes | 10
META_WINDOW_MINUTES=
## Meta request limit | 20
META_REQUEST_LIMIT=
## Stream window minutes | 10
STREAM_WINDOW_MINUTES=
## Stream request limit | 10
STREAM_REQUEST_LIMIT=
## Subtitles window minutes | 10
SUBTITLES_WINDOW_MINUTES=
## Subtitles request limit | 10
SUBTITLES_REQUEST_LIMIT=
## Redirect window minutes | 180
REDIRECT_WINDOW_MINUTES=
## Redirect request limit | 200
REDIRECT_REQUEST_LIMIT=

# Analytics
## Enable sending anonymous tracking (any value to on, leave empty to off) |
UMAMI_ENABLED=
## Umami website id | f4af25ed-caf9-4fe2-ae07-7f0d50f5a51c
UMAMI_WEBSITE_ID=
## Umami host url | https://umami-fs.tamthai.de
UMAMI_URL=
## Prometheus enabled (any value to on, leave empty to off) |
PROMETHEUS_ENABLED=
## Ntfy url when rate limit is hit |
NTFY_URL=

# Database
## Enable database (any value to on, leave empty to off) |
DATABASE_ENABLED=
## Sqlite url to save data, map volume to persist data | data/yastream.db
## volume: 
##   - .data/:/app/data
DATABASE_URL=

# Other services (for some provider like mkvdrama)
## FlareSolverr URL for cloudflare protected sites (e.g., http://localhost:8191/v1) |
FLARESOLVERR_URL=
## FlareSolverr auth header |
FLARESOLVERR_AUTH_HEADER=
## Max timeout in milliseconds | 30000
FLARESOLVERR_MAX_TIMEOUT=
## Wait in seconds after get dom for js execution | 4
FLARESOLVERR_WAIT_IN_SECONDS=

## Puppeteer browser websocket endpoint like ws://localhost:3000 | 
PUPPETEER_WS_ENDPOINT=
## Puppeteer browser auth header (e.g. Bearer ey...) |
PUPPETEER_AUTH_HEADER=

## Proxy for kisskh encrypted subtitle (e.g. https://proxy.com will proxy https://proxy.com/https://subtitle.vtt) |
PROXY_URL=
## Proxy port | 443
PROXY_PORT=
## Proxy for kisskh encrypted subtitle (any value to on, leave empty to off) |
PROXY_KISSKH_SUBTITLE=
## Proxy for tmdb (any value to on, leave empty to off) |
PROXY_TMDB=

## Enable job (any value to on, leave empty to off) |
JOB_ENABLED=
## Cron job default run every 30 seconds | */30 * * * * *
JOB_CRON=

# Provider
## Kisskh urls, use ["https://kkh.alwaysdata.net"] if got blocked | ["https://kisskh.co","https://kisskh.do"]
KISSKH_URLS=
## Mkvdrama url | https://mkvdrama.net
MKVDRAMA_URL=
## TorBox timeout in milliseconds | 10000
TORBOX_TIMEOUT_MS=